{
  "trailingComma": "all",
  "bracketSpacing": false,
  "jsxBracketSameLine": true,
  "arrowParens": "avoid",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": false,
  "printWidth": 100,
  "singleAttributePerLine": true,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxSingleQuote": false,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "useTabs": true,
  "vueIndentScriptAndStyle": false,
  "overrides": [
    {
      "files": [
        "*.json",
        "*.yml",
        "*.yaml",
        "*.md",
        "*.html",
        "*.vue",
        "*.css",
        "*.scss",
        "*.less",
        "*.styl",
        "*.js",
        "*.jsx",
        "*.ts",
        "*.tsx",
        "*.graphql",
        "*.gql",
        "*.mdx",
        "*.vue",
        "*.svelte"
      ],
      "options": {
        "bracketSameLine": true,
        "braceStyle": "1tbs"
      }
    }
  ]
}
